.header a {
    text-decoration: none;
    color: #084882;
}

body {
    background-color: rgba(5, 120, 173, 0.77);
    background-image: url('../img/QRHAEO.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}

.site-name h1{
    font-size: 25pt;
    position: fixed;
    width: 100%;
    top: -17px;
}
/*Задал свойство list-style-type:none только главному меню и левому меню*/
ul .main-menu,
.left-menu{
    list-style-type:none;
}
.header .item {
    display: inline;
    padding-top: 1%;
    cursor: pointer;
    height: 150px;
    border-right: 1px solid #1986cc;
    padding-bottom: 1%;
    margin-top: 65px;
    border-left: 1px solid #1986cc;
    position: relative;
    top: 6px;
    margin-right: -5px;
    padding-left: 25px;
    padding-right: 25px;
}
.header .item:hover {
    background-color:rgba(0, 112, 255, 0.39);
}

.header .item a {
    cursor: pointer;
    font-size: 20pt;
}

.left-menu a {
    font-size: 15pt;

}

.header ul {
    text-align: center;
    height: 49px;
    background-color: rgb(24, 135, 216);
    vertical-align: bottom;
    top: 50px;
    position: fixed;
    width: 100%;
    margin: 0;
    padding-left: 0;
}

li .item {
    height: 50px;
}

header {
    text-align: center;
}

.content {
    width: 62%;
    margin: 100px auto;
    padding-top: 20px;
    overflow: auto;
}

.left-column {
    float: left;
    width:30%;
    color: rgb(7, 125, 179);
} 

.right-column {
    float: right;
    width: 69%;
}

.footer {
    width: 62%;
    margin: 100px auto;
    text-align: center;
}
/*Работа с текстом-описанием*/
.description {
    background-color: #b4bee0;
}

.description h2 {
    font-size: 30pt;
    text-align: center;
}

.description ul,
p {
    font-family: fantasy;
}

/*Работа с именем сайта (выглядит суперхуево)*/
.site-name h1 {
    background-image: url(../img/stars_small.jpg);
    background-repeat: repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: 50px;
    color: #8630f5;
    text-shadow: 1px 1px 3px black;    
}

img {
    height: 200px;
}

img:hover {
    height: 300px;
    z-index: 5;
    align-items: center;
}